@using OSL_B2.Inventory.Web.Areas.Admin.Controllers
@{ 
    var menuOpen = ViewData["Menu"];
    var menuActive = ViewData["SubMenu"] != null ? ViewData["SubMenu"] : string.Empty;

    string saleOpen = string.Empty, categoryOpen = string.Empty, productOpen = string.Empty,
        customerOpen = string.Empty, supplierOpen = string.Empty, purchaseOpen = string.Empty,
        repostsOpen = string.Empty;

    string homeActive = string.Empty, saleActive = string.Empty, categoryActive = string.Empty,
        productActive = string.Empty, customerActive = string.Empty, supplierActive = string.Empty,
        purchaseActive = string.Empty, repostsActive = string.Empty, settingsActive = string.Empty;

    switch (menuOpen)
    {
        case nameof(SaleController):
            saleOpen = "menu open menu-open";
            saleActive = ViewData["SubMenu"] != null ? ViewData["SubMenu"].ToString() : string.Empty;
            break;
        case nameof(CategoryController):
            categoryOpen = "menu open menu-open";
            categoryActive = ViewData["SubMenu"] != null ? ViewData["SubMenu"].ToString() : string.Empty;
            break;
        case nameof(ProductController):
            productOpen = "menu open menu-open";
            productActive = ViewData["SubMenu"] != null ? ViewData["SubMenu"].ToString() : string.Empty;
            break;
        case nameof(CustomerController):
            customerOpen = "menu open menu-open";
            customerActive = ViewData["SubMenu"] != null ? ViewData["SubMenu"].ToString() : string.Empty;
            break;
        case nameof(SupplierController):
            supplierOpen = "menu open menu-open";
            supplierActive = ViewData["SubMenu"] != null ? ViewData["SubMenu"].ToString() : string.Empty;
            break;
        case nameof(PurchaseController):
            purchaseOpen = "menu open menu-open";
            purchaseActive = ViewData["SubMenu"] != null ? ViewData["SubMenu"].ToString() : string.Empty;
            break;
        //case nameof(ReportController):
        //    reports = "menu open menu-open";
        //    break;
        case nameof(ManageController):
            settingsActive = "active";
            break;
        default:
            homeActive = "active";
            break;
    }
}
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="/Admin/Home/Index" class="nav-link @homeActive">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview @saleOpen">
            <a href="#" class="nav-link @(saleOpen!=string.Empty?"active":string.Empty)">
                <i class="nav-icon fas fa-cart-plus"></i>
                <p>
                    Sale
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Sale/New" class="nav-link @(saleActive == "New" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>New Sale</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Sale" class="nav-link @(saleActive == "Index" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Manage Sales</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview @categoryOpen">
            <a href="#" class="nav-link @(categoryOpen!=string.Empty?"active":string.Empty)">
                <i class="nav-icon fas fa-plus-square"></i>
                <p>
                    Category
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Category/Create" class="nav-link @(categoryActive == "Create" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>New Category</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Category/" class="nav-link @(categoryActive == "Index" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Manage Categories</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview @productOpen">
            <a href="#" class="nav-link @(productOpen!=string.Empty?"active":string.Empty)">
                <i class="nav-icon fas fa-plus-square"></i>
                <p>
                    Product
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Product/Create" class="nav-link @(productActive == "Create" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>New Product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Product" class="nav-link @(productActive == "Index" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Manage Products</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview @customerOpen">
            <a href="#" class="nav-link @(customerOpen!=string.Empty?"active":string.Empty)">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    Customer
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Customer/Create" class="nav-link @(customerActive == "Create" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>New Customer</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Customer" class="nav-link @(customerActive == "Index" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Manage Customers</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview @supplierOpen">
            <a href="#" class="nav-link @(supplierOpen!=string.Empty?"active":string.Empty)">
                <i class="nav-icon fas fa-user-tie"></i>
                <p>
                    Supplier
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Supplier/Create" class="nav-link @(supplierActive == "Create" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>New Supplier</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Supplier" class="nav-link @(supplierActive == "Index" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Manage Suppliers</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview @purchaseOpen">
            <a href="#" class="nav-link @(purchaseOpen!=string.Empty?"active":string.Empty)">
                <i class="nav-icon fas fa-table"></i>
                <p>
                    Purchase
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Purchase/New" class="nav-link @(purchaseActive == "New" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>New Purchase</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Purchase" class="nav-link @(purchaseActive == "Index" ? "active" : string.Empty)">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Manage Purchase</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview @repostsOpen">
            <a href="#" class="nav-link @(repostsOpen!=string.Empty?"active":string.Empty)">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    Reports
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="pages/tables/simple.html" class="nav-link">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Sales Report</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/tables/data.html" class="nav-link">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Purchase Report</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/tables/data.html" class="nav-link">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Profit Report</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/tables/data.html" class="nav-link">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Daily Report</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/Admin/Manage" class="nav-link @settingsActive">
                <i class="nav-icon fas fa-cogs"></i>
                <p>
                    Settings
                </p>
            </a>
        </li>
        @*<li class="nav-header">SETTINGS</li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    System User
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="pages/tables/simple.html" class="nav-link">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>New User</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/tables/data.html" class="nav-link">
                        <i class="nav-icon fas fa-stream"></i>
                        <p>Manage Users</p>
                    </a>
                </li>
            </ul>
        </li>*@
    </ul>
</nav>