@using System.Dynamic
@model OSL_B2.Inventory.Web.Areas.Admin.Models.CategoryCreateViewModel
@{
    ViewData["Title"] = "New Category";
    ViewBag.PageNav = "Create";

    dynamic MidNav = new ExpandoObject();
    MidNav.Title = "Category";
    MidNav.Link = "/Admin/Category/";
    ViewBag.MidNav = MidNav;
}

<div class="card card-primary">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <div class="float-left">
                    <h3 class="card-title">Create Category Form</h3>
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <a href="/Admin/Category" class="btn btn-primary btn-sm">Manage Category</a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Create", "Category", new { area = "Admin" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    <div class="pt-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a href="/Admin/Category" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
