@using System.Dynamic
@model IEnumerable<OSL_B2.Inventory.Web.Areas.Admin.Models.CategoryListViewModel>

@{
    ViewData["Title"] = "Manage Category";
    ViewBag.PageNav = "Category";
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}
<div class="pl-2">
    <div class="text-right pb-2">
        @Html.ActionLink("New Category", "Create", "Category", new { area = "Admin" } , new { @class = "btn btn-primary" })
    </div>
    <table id="table" class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th style="width:15%">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <!-- DataTables  & Plugins -->
    <script src="~/Content/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "processing": true,
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 1
                    }
                ]
            });
        });
    </script>
}
