@using System.Dynamic
@model OSL_B2.Inventory.Web.Areas.Admin.Models.ProductCreateViewModel
@{
    ViewData["Title"] = "New Product";
    ViewBag.PageNav = "Create";

    dynamic MidNav = new ExpandoObject();
    MidNav.Title = "Product";
    MidNav.Link = "/Admin/Product/";
    ViewBag.MidNav = MidNav;
}

<div class="card card-primary">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <div class="float-left">
                    <h3 class="card-title">Create Customer Form</h3>
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <a href="/Admin/Supplier" class="btn btn-primary btn-sm">Manage Supplier</a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Create", "Product", new { area = "Admin" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Value", "Text"), 
                                                            htmlAttributes: new {@class = "form-control", id = "category"})
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CriticalQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CriticalQuantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CriticalQuantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>
